{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Title of the window -->
		<title>Voyage</title>

		<!-- Specifies encoding to the browser (management of accents, etc.) -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<!-- Style sheets -->
		<!--link rel="stylesheet" type="text/css" href="{% static 'CSS/headerFooter.css' %}"-->

		<!-- Inhibits wide screens on mobile phones: prevents the mobile phone from having a wide screen that requires zooming in -->
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />

		<!-- Page icon -->
		<!--link rel="icon" href="{% static 'rugbyBut.ico' %}" type="image/x-icon"-->
	</head>

    <body>
	   Bonjour les anciens !
	</body>
</html>

